:root {
    --main-medblue: #026773;
    --main-white: white;
    --main-bisque: #F2E3D5;
    --main-lightblue: #3CA6A6;
    --main-darkblue: #012E40;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-darkblue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: xx-large;
    font-family: 'Abril Fatface', cursive;
}

.navList a {
    display: block;
    padding: 1.5rem;
    color: var(--main-white);
}


.navList a:hover{
    background-color: var(--main-medblue);
}

#welcome-section {
    background-color: var(--main-bisque);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 1rem;
}




h1 {
    font-size: 4rem;
    padding: 4rem;
    color: white;
}
h2 {
    padding: 4rem;
    font-size: 3rem;
    color: white;
}
ul {
    display: flex;
    list-style-type: none;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-medblue);
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    
}


figcaption :hover {
    background-color: var(--main-bisque);
}


#contact {
    text-align: center;
    background-color: var(--main-lightblue);
    font-size: xx-large;
    padding: 4rem;
    text-decoration: none;
    color: white;
}

.contact-links {
    display: flex;
    justify-content: center;
    color: white;
}

.contact-links a{
    padding: 3rem;
    color: white;
}

.contact-links a:hover {
    color: var(--main-bisque)
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--main-bisque);
}

figure {
    margin: 2rem;
}

figure img {
    width: 25rem;
    height: 15rem;
}

figcaption {
    background-color: var(--main-darkblue);
    text-align: center;
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.contact-details {
    transition: transform 0.3s ease-out;
}


.contact-details:hover {
    transform: translateY(8px);
  }
  

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
@media (max-width: 60em) {
        html {
          font-size: 40%;
          background-color: black;
        }}}